<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClasesBase.Properties.Settings.prestamoConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\Documents\01 - Proyectos From\LPOO1_GRUPO6\prestamos.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="ClasesBase.Properties.Settings.prestamoConnectionStringDB"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\Documents\01 - Proyectos From\LPOO1_GRUPO6\prestamosDB.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>